$color1: #ecac00; //orange
$color2: #ffffff; //white
$color3: #3a3a3a; //stone-grey
$color4: #3b3b3f; //stone-grey 2
$color5: #2b2b2b; //darker-stone-grey
$color6: #333333; //  dark grey
$color7: #181818; //bg-black
$color8: #666666; //light-grey
$color9: #3b3b3b; //stone-grey-3
$color10: #ebab00; //title-orange
$formboxbg: #136899;
$dark-box: #5e0400;
$slider-text: #cd1f25;
$comment-border: #7c412b;
$play-progress: #66cc33;
$load-progress: #6699cc;
$front-bg: #e9e5e5;

$FontList: "Poppins", sans-serif;
